extends home 
  block formulario
section.container.pt-4
  form(action='/productos' method='POST')
    .mb-3
      label.form-label(for='title') Title
      input#title.form-control(type='text' name='title')
    .mb-3
      label.form-label(for='price') Price
      input#price.form-control(type='number' name='price')
    .mb-3
      label.form-label(for='thumbnial') Thumbnial
      input#thumbnial.form-control(type='text' name='thumbnail')
    button.btn.btn-primary Guardar Producto
  .mt-3
    a(href='/productos')
      button.btn.btn-success Ver Productos
