doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Bootstrap demo
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
h1.text-center Desafio Numero 5 (Usando PUG)
section.container.pt-4
  form(action='/productos' method='POST')
    .mb-3
      label.form-label(for='title') Title
      input#title.form-control(type='text' name='title')
    .mb-3
      label.form-label(for='price') Price
      input#price.form-control(type='number' name='price')
    .mb-3
      label.form-label(for='thumbnial') Thumbnial
      input#thumbnial.form-control(type='text' name='thumbnail')
    button.btn.btn-primary Guardar Producto
  .mt-3
    a(href='/productos')
      button.btn.btn-success Ver Productos
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous')
