    <div id="loginAdmin"></div>
    
    <h2 class="text-center">Ingresar Nuevo Producto</h2>

    <section class="container pt-4" id="plantilla">
        <div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombreUpdate" class="form-control" id="nombre">
            </div>
    
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" name="descripcionUp" class="form-control" id="descripcion">
            </div>
    
            <div class="mb-3">
                <label for="codigo" class="form-label">Codigo</label>
                <input type="text" name="codigo" class="form-control" id="codigo">
            </div>
            <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                <input type="text" name="foto" class="form-control" id="foto">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" name="precio" class="form-control" id="precio">
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" name="stock" class="form-control" id="stock">
            </div>
    
            <button class="btn btn-primary" id="botonProd">Enviar</button>
        </div>

    </section>
<div id="contentTable"></div>

<script src="/admin.js"></script>