<h1 class="text-center">Listado de sus ordenes</h1>
<div class="d-flex" >
<div class="position-fixed" style="margin-left:25%" ><button onclick=location.href="/" class="btn btn-primary"  >Volver</button></div>

</div>
<div id="orders"></div>
















<script src="/orders.js"></script>