<div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center"><h3>Registro</h3></div>
            </div>
            <div class="form-horizontal">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="name" placeholder="Ingrese su nombre..." class="form-control" id="name">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" name="email" placeholder="Ingrese su email..." class="form-control" id="email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="password" placeholder="Ingrese su password" class="form-control" id="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" name="age" placeholder="Ingrese su edad..." class="form-control" id="age">
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input type="text" name="address" placeholder="Ingrese su direccion..." class="form-control" id="address">
                </div>
             
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input type="tel" name="phone" placeholder="Ingrese su telefono..." class="form-control" id="phone">
                </div>
            
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                    <input type="file" name="avatar" placeholder="Suba su foto..." class="form-control" id="avatar" accept="image/*">
                </div>


                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button class="btn btn-primary pull-right" onclick=register() style="margin:5px;"><i class="glyphicon glyphicon-log-in"></i> Registrar</button> 
                        <a href="/login"><button class="btn btn-success pull-right" style="margin:5px;"><i class="glyphicon glyphicon-log-in"></i>ir al login</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/register.js"></script>